<div class="index-container d-flex flex-column justify-content-center">
  <div>
    <img class="beerImg" src="/images/beer.png" width="320" height="205">
  </div>
  <div class="d-flex flex-column">
    <a href="/beers" class="btn btn-primary">Check the Beers!</a>
    <a href="/random-beers" class="btn btn-primary">Check a Random Beer!</a>
  </div>
</div>